[Unit]
Description=Music Notification Listener
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.config/bin/services/music-notifyer.sh
Restart=on-failure
RestartSec=2

Environment=PATH=%h/.config/bin/services:/usr/local/bin:/usr/bin

[Install]
WantedBy=default.target

