.config/micro/backups
.config/micro/buffers
.config/micro/colorschemes
.config/micro/syntax

.config/zsh/.zcompdump-archlinux-5.9
.config/zsh/.zcompdump-archlinux-5.9.zwc
.config/zsh/.zcompdump-CachyOS-5.9
.config/zsh/.zcompdump-ChachyOS-5.9.zwc
