* {
font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
font-size: 15px;
color: #cdd6f4;
border: none;
border-radius: 8px;
padding: 1px 1px;
margin-top: 1px;
margin-bottom: 2px;
margin-left: 4px;
margin-right: 4px;
min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 3px solid  #89b4fa
}

#workspaces button, #window {
  background: transparent;
  color: #89b4fa;
  border-bottom: 2px solid;
  border-color: #89b4fa;
  border-radius: 0;
}

#window {
	padding: 0;
	margin: 10px;
}

#workspaces button.active {
  background: transparent;
  color: #1e1e2e;
  border: 2px solid;
  border-color: #89b4fa;
  border-radius: 6px;
}

#custom-arch {
	margin-right: 15px;
}

#tray, #pulseaudio, #network, #clock, #battery {
  border: 2px solid;
  border-color: #89b4fa;
  border-radius: 6px;
}
