* {
font-family: "JetBrainsMono Nerd Font", sans-serif;
font-size: 18px;
background-color: transparent;
border: 2px
border-radius: 12px
color: #FFFFFF,}

window {
    border-radius: 12px;
    border: 2px solid #89b4fa;
    background-color: rgba(30, 30, 46, 0.8);
    padding: 10px;
    margin: 20px;
    color: #FFFFFF;
}

#input {
    padding: 8px;
    background-color: rgba(30, 30, 46, 0.8);
    margin-bottom: 10px;
    color: #FFFFFF;
    border-radius: 12px;
    border: 4px solid #89b4fa;
}

#entry {
    padding: 8px;
    border-radius: 12px;
    background-color: transparent;
}

#entry:selected {
    background-color: rgba(30, 30, 46, 0.8);
    border: 1px solid #89b4fa;
    border-radius: 12px
    color: #FFFFFF;
}
