@define-color bg0      #101612;
@define-color bg1      #141d17;
@define-color bg2      #1a261f;
@define-color bg3      #22322a;
@define-color bg4      #2c4036;

@define-color red      #e57373;
@define-color orange   #d19a66;
@define-color yellow   #e5c07b;
@define-color green    #7bc96f;
@define-color aqua     #2bbd7e;
@define-color blue     #4aa3df;
@define-color purple   #b07cc6;

@define-color primaryColor #7bc96f;
@define-color secondaryColor #2bbd7e;
@define-color fontcolor #000000;

@define-color fg       #cfe6d6;

@define-color grey0    #5d6b63;
@define-color grey1    #7c8a82;
@define-color grey2    #a7b6ad;
