@define-color bg0      #2e3440;
@define-color bg1      #3b4252;
@define-color bg2      #434c5e;
@define-color bg3      #4c566a;
@define-color bg4      #616e88;

@define-color red      #bf616a;
@define-color orange   #d08770;
@define-color yellow   #ebcb8b;
@define-color green    #a3be8c;
@define-color aqua     #8fbcbb;
@define-color blue     #81a1c1;
@define-color purple   #b48ead;

@define-color primaryColor @blue;
@define-color secondaryColor @aqua;
@define-color fontcolor #2e3440;
@define-color wfontcolor #2e3440;

@define-color fg       #e5e9f0;

@define-color grey0    #6f7e97;
@define-color grey1    #8b9bb4;
@define-color grey2    #b8c2d3;
