@define-color bg0      #15161e;
@define-color bg1      #16161e;
@define-color bg2      #1f2335;
@define-color bg3      #292e42;
@define-color bg4      #3b4261;

@define-color red      #f7768e;
@define-color orange   #ff9e64;
@define-color yellow   #e0af68;
@define-color green    #9ece6a;
@define-color aqua     #7dcfff;
@define-color blue     #7aa2f7;
@define-color purple   #bb9af7;

@define-color primaryColor   #572694;
@define-color secondaryColor #00ffd2;
@define-color fontcolor #00ffd2;
@define-color wfontcolor @fontcolor;

@define-color fg       #c0caf5;

@define-color grey0    #565f89;
@define-color grey1    #7a82aa;
@define-color grey2    #a9b1d6;
